.form {
  width: 700px;
  background-color: #e5e5f7;
  opacity: 0.5;
  background-size: 13px 13px;
  background-image: repeating-linear-gradient(
    45deg,
    #101010 0,
    #101010 1.3px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}
